* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    background: #d8d5d5;
}

.wrap { background: #fff; }

ul li, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a { text-decoration: none !important; color: #035291; }
.center { text-align: center; }
.display-none { display: none; }
.font-13 { font-size: 13px !important; }

input[type='checkbox'] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-family: "FontAwesome";
}

input[type='checkbox']:checked {
    background: #275EFE;
    transition: 0.5s;
}

input[type='checkbox']:checked:after {
    content: "\f00c";
    font-size: 10px;
    color: #fff;
    position: absolute;
	top: 0px;
	left: 3px;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: rgb(73,125,189)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(54, 78, 150);
}

/* Banner top */
.image-banner { width: 100%; }

.text-banner-tablet { display: none; }

.text-banner-mobile {
    background: #035291;
    width: 100%;
    padding: 15px;
    margin-top: -5px;
}

.text-banner-mobile li {
    display: flex;
    align-items: center;
}

.text-banner-mobile a, .text-banner-mobile i {
    color: #fff;
}

.text-banner-mobile input {
    padding: 5px;
    width: 90%;
}

.text-banner-mobile i {
    width: 10%;
}

.text-banner-mobile .fa-align-justify { text-align: left; }
.text-banner-mobile .fa-search { text-align: right; }

.text-banner-tablet input{ margin: 7px 10px 0 10px; height: 65%; font-size: 13px; }

.button-start {
    padding: 10px 30px;
    background: orangered;
    border: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s;
    display: block;
    width: 131px;
    margin: auto;
}

.button-start:hover {border-radius: 25px; color: #fff;}

.info-contact {
    color: #fff;
    margin-top: 105px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

.info-contact p { text-align: left; margin: 0; }

.info-contact h3 {
    margin: 0 0 15px 0;
}

.info-contact .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-contact .item .circle {
    width: 30px;
    height: 30px;
    text-align: center;
    background: #54a7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.intro-content .intro-text {
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.intro-content .intro-text h2 { color: #035291; font-size: 15px;}

.intro-content { position: relative; }

.intro-content .img-background {
        width: 100%;
        height: 80vh;
        background-image: url("../images/cau-ghenh-dong-nai.JPG");
        background-size: 150% 150%;
        background-repeat: no-repeat;
    }

/* Sidebar */
#sidebar-left-mobile { display: none; }
.sidebar-left { display: none; background: #4f93ca; }

#sidebar-left-desktop li {
    padding: 5px 15px;
    background: #4f93ca;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    display: flex;
    align-items: baseline;
}

#sidebar-left-mobile li {
    padding: 12px 15px;
    background: #4f93ca;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    border-bottom: 1px solid #a0b1ef;
    display: block;
}

#sidebar-left-mobile li i { float: right; }

.sidebar-left li i, .sidebar-left li a {
    color: #fff;
}

#sidebar-left-mobile .submenu, #sidebar-left-mobile .sub-submenu {
    display: none;
}

#sidebar-left-mobile .submenu li {
    padding-left: 30px;
    background: #2c6fa5;
}

#sidebar-left-mobile .sub-submenu li {
    padding-left: 60px;
    background: #224561;
}

#sidebar-left-desktop li { float:left; }

/* Content */
main, .content { position: relative; }
.content .file-action { padding: 10px 0; }
.content .file-action a { margin-right: 15px; }
.excerpt { text-align: justify; }


.content { padding: 15px; clear: both;}

.content h3 {
    color: #09268c;
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 18px;
}
.content h4 { margin: 5px 0; }

/* Content image */
.scheme img, .common-target img, .specific-target img,
.new-contribute img, .geographical-location img, .topographic-characteristics img { width: 100%; }

/* Scheme product */
.scheme-product .list-scheme-product li {
    padding: 10px 15px;
    background: #f5f5a8;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.scheme-product .list-scheme-product li:hover { box-shadow: 5px 5px 5px #ccc; background: #efef7b;}

.list-scheme-product .title {
    padding-bottom: 3px;
    border-bottom: 1px solid;
    display: block;
}

.scheme-product .list-scheme-product li a { color: #d25426}

.main-content { display: flex; }
.main-content .description, .main-content .illustration, .img-location { width: 50%; }

/* Vi tri dia ly & Dac diem dia hinh */
.geographical-location .img-location,
.topographic-characteristics .img-location { text-align: center; }

/* Chi tiet san pham de tai */
.detail-scheme-product .content a { display: block; }
.detail-scheme-product .form-comment input, .detail-scheme-product .form-comment textarea{ padding: 5px; }

.detail-scheme-product .form-comment textarea { display: block; }

.detail-scheme-product .other-post .list-other-post li{ margin-bottom: 15px; }

/* Danh sach tram */
.list-station table { width: 100%; border-collapse: collapse;}
.list-station table tbody .row-station:first-child {
    background: #b9c6f7;
    line-height: 25px;
    font-weight: bold;
}

.list-station table tbody .row-station:nth-child(even) {
    background-color: #eee;
}


.list-station table tbody .row-station td {
    border-bottom: 1px solid gray;
    padding: 5px;
}

.list-station table tbody .row-station .item:first-child,
.list-station table tbody .row-station .item:nth-child(3),
.list-station table tbody .row-station .item:nth-child(4),
.list-station table tbody .row-station .item:nth-child(5),
.list-station table tbody .row-station td:nth-child(6) {
    text-align: center;
}

.muddy-sand-stations table tbody .row-station .item:nth-child(5) { width: 30%; text-align: left;  }

.date-range .search-btn { background: #035291; border: none; border-radius: 3px; padding: 3px 10px; color: #fff;}
.popup-rainfall .header { background: #79baef; padding: 5px 10px 1px; }
.popup-rainfall .header
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  #start-picker, #end-picker { width: 37%; }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 9;
    left: calc(50% - 350px);
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 700px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: transparent;
    color: white;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    top: 0;
    position: absolute;
    border-radius: 5px;
    right: 0;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: transparent;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  /* Landslide risk map - Ban do nguy co sat lo */
  ol {list-style: none;counter-reset: item;}
  .landslide-risk-list-pdf li {
    background: #cee5f7;
    border-radius: 0.5rem;
    padding: 10px;
    margin-top: 10px;
    min-height: 2rem;
    max-width: 300px;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    counter-increment: item;
  }
  .landslide-risk-list-pdf li::before {
    margin-right: 10px;
    content: counter(item);
    background: #07599a;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }
  .landslide-header table, .landslide-body table { border: 1px solid #f3f3f3; line-height: 19px; border-top: none; }
  .landslide-header th { background-color: #BED3E5; padding: 8px 0; }
  .landslide-header th:first-child, .landslide-body td:first-child { width: 8%; }
  .landslide-header th:nth-child(2), .landslide-body td:nth-child(2) { width: 40%; }
  .landslide-header th:nth-child(3), .landslide-body td:nth-child(3) { width: 12%; }
  .landslide-header th:nth-child(4), .landslide-body td:nth-child(4) { width: 40%; }
  .landslide-body { height: calc(100vh - 145px); overflow: auto; }
  .landslide-body .location-item:hover { cursor: pointer; background: #c7c7c7;}
  .landslide-body .active { background: #8dbbe2; }
  
/* Map */
#mapid { height: 100%;}

/* Footer */
footer {
    clear: both;
}

footer .copyright {
    background: #035291;
    text-align: center;
    padding: 8px 0;
    color: #fff;
}

/* Modal */
.modal-header { background: #b4deff; }

/* CKEditor */
.ck-editor__editable_inline { height: 350px; }

/* Calendar Jquery UI */
.ui-widget-header { background: #035291 !important; border: none !important; }
.ui-widget-content .ui-state-active { border: 1px solid #5090fb !important; color: #035291 !important; }
.ui-datepicker-trigger { border: none; background: #035291; color: #fff; }

/* Button export in modal */
#btn-export-png, #btn-export-xls {
    z-index: 9;
    right: 0;
}

#btn-show-download { top: 50px; right: 0; }
#btn-export-png { top: 100px; cursor: pointer; }
#btn-export-xls { top: 125px; cursor: pointer; }
.highcharts-button-symbol { display: none; }

@media screen and (min-width: 768px)
{
    .container { width: 90%; }
    #sidebar-left-desktop { height: 37px; display: flex}
    #sidebar-left-desktop li a { margin-right: 5px; font-size: 9px;}

    .text-banner-mobile { display: none; }

    .text-banner-tablet {
        background: #035291;
        width: 100%;
        height: 36px;
        display: block;
        line-height: 35px;
        margin-top: -5px;
        border-bottom: 2px solid lightblue;
    }

    .text-banner-tablet li:first-child { float: left; }

    .text-banner-tablet li {
        float: right;
    }

    .text-banner-item {
       display: none;
    }

    .text-banner-tablet a {
        color: #fff;
        padding: 0 10px;
        border-right: 1px solid #fff;
        font-size: 14px;
    }

    .text-banner-tablet .fa-search {
        margin-right: 10px;
        color: #fff;
        cursor: pointer;
    }

    .text-banner-tablet .search-banner {
        margin: 0 10px;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 3px;
    }

    .intro-content .intro-text {
        position: absolute;
        top: 0;
        text-align: center;
        color: #fff;
        line-height: 35px;
    }

    .intro-content .img-background {
        width: 100%;
        height: 620px;
        background-image: url("../images/cau-ghenh-dong-nai.JPG");
        background-size: 150% 150%;
        background-repeat: no-repeat;
    }

    .intro-content .intro-text h2 {
        line-height: 24px;
        font-size: 18px;
    }

    .info-contact { margin-top: 75px; }

    /* Content */
    .sidebar-left { display: block; }

    .sidebar-left li a {
        font-size: 13px;
        width: 100%;
        display: block;
        line-height: 25px;
    }

    .sidebar-left .submenu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        width: 200px;
        transition: all 1s;
        z-index: 99;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(.7,1,.7,1);
    }

    .sidebar-left .scheme-data-ul, .sidebar-left .scheme-data-ul .sub-submenu { width: 150px !important; }

    #sidebar-left-desktop .submenu li { width: 100%; }

    #sidebar-left-desktop li:hover > .submenu { opacity: 1; visibility: visible; top: 100%; }
    #sidebar-left-desktop li:hover .submenu li:hover { background: #07599a; }
    #sidebar-left-desktop li:hover .item-link { border-bottom: 2px solid; }

    .sidebar-left .submenu .sub-submenu {
        display: none;
        position: absolute;
        left: 100%;
        width: 200px;
        top: 0;
    }

    .sidebar-left .submenu li:hover > .sub-submenu  { display: block; }

    /* Scheme - Du an*/
    .scheme .name { text-align: center; font-size: 20px;}

    .scheme .name h4 { font-size: 15px;}

    .scheme .time { margin-bottom: 0; }

    .scheme img { margin: auto; display: block; }

    .scheme .director, .scheme .organization { display: inline; }

    /* Scheme target - Muc tieu du an (Muc tieu chung va Muc tieu cu the)*/
    .common-target {
        margin: 20px 0;
    }

    .common-target img, .specific-target img {
        width: 60%;
        margin: auto;
        display: block;
        padding-bottom: 10px;
    }

    .common-target .title, .specific-target .title,
    .scheme-product .title { margin-bottom: 5px; }

    .specific-target .box-content {
        border: 1px solid;
        padding: 10px 15px;
        background: #f9deda;
        margin-bottom: 15px;
        border-radius: 5px;
        line-height: 20px;
        margin-left: 18px;
    }

    /* New contribute - Dong gop moi cho de tai */

    .new-contribute .title { margin-bottom: 5px; line-height: 22px;}

    /* Scheme product - San pham de tai */
    .scheme-product .list-scheme-product .desc { margin-top: 5px; }

    /* Detail scheme product - Chi tiet san pham de tai */
    .detail-scheme-product .content {
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;
    }

    .detail-scheme-product .content a { display: unset; }

    .detail-scheme-product .other-post .list-other-post li{ margin: 0; }

    .detail-scheme-product .content .name { margin-top: 0; font-size: 17px; }

    .detail-scheme-product .content a { color: #af1717; }

    .detail-scheme-product .content .author {
        float: right;
    }

    .detail-scheme-product .form-comment div,
    .detail-scheme-product .form-comment form textarea {
        margin-bottom: 10px;
    }

    .detail-scheme-product .form-comment form textarea { display: block; }
    .detail-scheme-product .other-post a { color: #035291; line-height: 25px; }
    .detail-scheme-product .other-post a:hover { text-decoration: underline; }

    /* Introduct research area - Gioi thieu khu vuc nghien cuu */
    /* Geographical Location - Vi tri dia ly*/

    .geographical-location .img-location img,
    .img-location img { width: 80%; }

    .geographical-location .content,
    .topographic-characteristics .content {
        display: flex;
        flex-direction: column;
    }

    /* Floral - Tham phu thuc vat rung va he thuc vat*/
    .floral .excerpt ul li {
        list-style: disc;
        margin-left: 20px;
    }

    /*  Customize width size for modal bootstrap  */
    .modal-dialog { max-width: 700px; }
    .modal-body .statistical-space { width: 35%; font-size: 13px; }
    .modal-body .statistical-space .basic-info { background: #f5e4d0; }
    .modal-body .statistical-space .monitoring-info { background: #dcf3e1; }
    .modal-body .statistical-space .wet-season { background: lightblue;  }
    .modal-body .statistical-space .dry-season { background: rgb(230 195 130);}
    .modal-body .chart-space { width: 65%; position: relative; }
    .modal-body .expanded { transition: all .3s; width: 100%; }
    .avg-chart .highcharts-axis-title, .max-chart .highcharts-axis-title, .min-chart .highcharts-axis-title, .highcharts-credits, .highcharts-legend { display: none; }
    .avg-chart .highcharts-title { font-size: 14px !important; }
    .expanded .date-appear table td:first-child { width: 6.5%; }
    .date-appear table td:first-child { width: 10%; }
    .date-appear table td:not(:first-child) {width: 7.4%;}
}

@media screen and (min-width: 1024px)
{
    .container { position: relative; padding: unset; max-width: unset; }
    .image-banner { height: 100px; }
    /* Animation title */
    .white-bar { width: 100%; height: 28px; background: #0c74c7; margin-top: -5px; position: relative}
    .animation-title { position: absolute; bottom: 0; left: 0px; width: 200px; animation: leftRight linear 15s infinite;}
    .animation-title p { margin: 0; color: #fff; }
    @keyframes leftRight {
        100% {
            left: 100%;
            transform: translateX(-100%);
        }
      }

    .sidebar-left .scheme-data-ul, .sidebar-left .scheme-data-ul .sub-submenu { width: 200px !important; }
    #sidebar-left-desktop li a { font-size: 13px; }
    .intro-content .intro-text h2 { font-size: x-large; line-height: unset; }
    .info-contact { padding: 15px 35px; }
    .scheme img { width: unset; }
    .scheme .name h4 { font-size: 17px; font-weight: bold;}
    .scheme strong { font-size: 18px; }

    .popup-rainfall { width: 800px; max-width: 800px; height: 500px; }

    .list-station table {
        height: 560px;
    }

    .muddy-sand-stations table tbody .row-station .item:nth-child(5) { width: 50%;}
    .btn-view-detail { cursor: pointer; }
    .date-max-appear, .date-min-appear {position: absolute; width: 100%; bottom: 14%; }
    .date-max-appear table, .date-min-appear table { width: 99%; }

    /* Map - Hien tuong sat lo bo song */
    .map-control { width: 25%; background: white; height: 100vh; left: 0; position: absolute; }
    .btn-show-map { background: #b1aeae; top: 0; position: absolute; left: 25%; padding: 10px 5px; color: #035291; z-index: 11;}
    .btn-hide-map { background: #b1aeae; top: 0; position: absolute; left: 0; padding: 10px 5px; color: #035291; z-index: 11;}
    .map-control .header { background: #d9e6f1; padding: 6px; text-align: center; white-space: nowrap; }
    .map-control .header h4 { margin: 0; padding-bottom: 3px; font-size: unset; font-weight: bold;}
    .map-control .content { height: 50%; }
    
    .note { position: absolute; width: 180px; right: 10px; z-index: 99; top: calc(100vh - 170px)  }
    .note h5, .map-control .panel h5 { background: #9fd4ff; padding: 10px; margin: 0; }
    .note .note-item { background: #fff; padding: 8px; }
    .note .note-item span { width: 40px; height: 5px; display: inline-block; }
    .note .note-item span::after { content:''; width: 15px; height: 15px; display: block; border-radius: 50%; position: absolute; left: 13px; top: -5px}
    .note .note-item .note-blue::after { background: #007bff; }
    .note .note-item .note-yellow::after { background: yellow; }
    .note .note-item .note-red::after { background: red; }
    .map-control .panel .content ul span { color: #0D47A1; }
    .map-control .btn-home { padding: 2px 5px; display: block; background: rgba(0,123,255,.5); font-size: 14px;}
    .landslide-popup { width: 280px; }
    .landslide-popup .title { border-bottom: 1px solid rgb(107, 107, 107); padding-bottom: 5px; }

    .modal-dialog { max-width: 900px; }
    .span-item { border: 1px solid; border-radius: 50%; width: 16px; height: 14px; display: table; float: left; font-size: 12px; text-align: center; vertical-align: middle; cursor: pointer;}
    .span-item:hover { background: #035291; color: #fff; }
    .span-item:hover .badge { display: block; }
    .span-item .badge { top: -15px; right: -20px; z-index: 9; }
    #mapid {
        width: 75%;
        height: 100vh;
        position: absolute;
        z-index: 10;
        left: 25%;
    }
    #basemaps-wrapper {
        position: absolute;
        top: 200px;
        right: 10px;
        z-index: 400;
        background: white;
        padding: 8px 5px;
    }

    #mapid.swiping::after {
        content: 'Sử dụng 2 ngón tay để di chuyển';
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 300;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        pointer-events: none;
    }

    .leaflet-popup-content { width: 300px !important; margin: 13px !important; }
    .info-legend { background: #fff; padding: 6px 10px; border-radius: 3px; }
}
